body {
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  main {
    padding:10px;
  }
  
  nav a {
    color:white
  }
  
  nav {
    height: 5vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background:salmon;
  }